@{
    ViewBag.Title = "Home Page";
}

<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Distance Learning Education Center</h1>
                            <h3>Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h3>
                            <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Start your journey with our practical courses</h1>
                            <h3>From equipment knowledge for scaling a volcano to what to look for if a Humpback Whale is giving you warning vibes, practicality is our specialty.</h3>
                            <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Track your Continuing Education Requirements</h1>
                            <h3>With our easy to learn system, you will be able to track your progress through the year.</h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FEATURE -->
<section id="feature">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>Trending Courses</h3>
                    <p>Known is free education HTML Bootstrap Template. You can modify in any way and use this for your website.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>Books & Library</h3>
                    <p>You are allowed to use Known HTML Template for your commercial or non-commercial websites.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>03</span>
                    <h3>Certified Teachers</h3>
                    <p>Please spread a word about us. Template redistribution is NOT allowed on any download website.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Teachers <small>Meet Professional Trainers</small></h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Content/images/author-image1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Mark Wilson</h3>
                        <span>I love Teaching</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Content/images/author-image2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Catherine</h3>
                        <span>Education is the key!</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Content/images/author-image3.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jessie Ca</h3>
                        <span>I'm only here to teach you about whales.</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/Content/images/author-image4.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Andrew Berti</h3>
                        <span>Learning is fun</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                </div>

                <div class="owl-carousel owl-theme owl-courses">
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="~/Content/images/volcano1.jfif" class="img-responsive" alt="A Volcano">
                                    </div>
                                    @*<div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                    </div>*@
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Volcanic Ascension Best Practices</a></h3>
                                    <p>When a scientist is exploring a volcano, danger is always afoot. In this course we discuss the best practices to ensure you get home safe.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="~/Content/images/author-image4.jpg" class="img-responsive" alt="">
                                        <span>Andrew</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 25</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="~/Content/images/lab1.jfif" class="img-responsive" alt="a labratory">
                                    </div>
                                    @*<div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>
                                    </div>*@
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Labratory Accounting</a></h3>
                                    <p>This course will help you budget your labratory equipment and needs.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="~/Content/images/author-image1.jpg" class="img-responsive" alt="">
                                        <span>Mark Wilson</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 80</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="~/Content/images/wolf1.jfif" class="img-responsive" alt="a wolf">
                                    </div>
                                    @*<div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                    </div>*@
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Wilderness Predators: where to run</a></h3>
                                    <p>Help identify what predators you might see on your expeditions.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="~/Content/images/author-image2.jpg" class="img-responsive" alt="">
                                        <span>Catherine</span>
                                    </div>
                                    <div class="courses-price free">
                                        <a href="#"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="~/Content/images/science1.jfif" class="img-responsive" alt="a microscope">
                                    </div>
                                    @*<div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                    </div>*@
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Science and Culture</a></h3>
                                    <p>This course is for when the in-laws are grilling you about the new science fad they heard about. Stay one step ahead with Science and Culture.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="~/Content/images/author-image1.jpg" class="img-responsive" alt="">
                                        <span>Mark Wilson</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 45</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="~/Content/images/whale1.jfif" class="img-responsive" alt="A humpback whale">
                                    </div>
                                    @*<div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                    </div>*@
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Humpback Whales: our friends of the sea</a></h3>
                                    <p>This course is general information about Humpback Whales.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="~/Content/images/author-image3.jpg" class="img-responsive" alt="">
                                        <span>Jessica</span>
                                    </div>
                                    <div class="courses-price free">
                                        <a href="#"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- TESTIMONIAL -->
<section id="testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Student Reviews <small>from around the world</small></h2>
                </div>

                <div class="owl-carousel owl-theme owl-client">
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="~/Content/images/tst-image1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Jackson</h4>
                                <span>Biologist</span>
                            </div>
                            <p>These CE courses have really helped in areas I didn't feel confidant in, like lab accounting and what animals are dangerous.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="~/Content/images/tst-image2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Camila</h4>
                                <span>Geologist</span>
                            </div>
                            <p>I'm pretty sure they only show the student reviews if they are 5 stars. My opinion is that the CE courses were 4 stars, I'm just trying out to see if this works.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="~/Content/images/tst-image3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Barbie</h4>
                                <span>volcanologist</span>
                            </div>
                            <p>A lot of people complain about having to take 6 courses a year, but I like the break from field work.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="~/Content/images/tst-image4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Andrio</h4>
                                <span>Botanist</span>
                            </div>
                            <p>The courses seem to favor some scientific fields over others? I'm a botanist and would like more plant based CE, please. Anyway the humpback whale course gets 5 stars.</p>
                            <div class="tst-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
